.panel-enabled {
  pointer-events: all;
  width: 40vw;
  height: 40vw;
  background-color: #1f11ff50;
  border: 2px solid #aa11ffa0;
  align-self: center;
  margin-left: 30vw;
  border-radius: 10%;
  padding: 2vw;
  flex-direction: column;
  gap: 15px;
}

button {
  background-color: #00affa;
  border: 1px solid #0a0a0a;
  border-radius: 10%;
  align-content: center;
}

button:hover {
  background-color: #afaffa;
}

.disabled {
  background-color: #fafafa;
}

.disabled:hover {
  background-color: #aaaaaa;
}

button > label {
  width: 100%;
  text-align: center;
}